services:
  nox:
    image: ${NOX_IMAGE:-fluencelabs/nox:unstable_minimal}
    ports:
      - 7771:7771
      - 9991:9991
    environment:
      - FLUENCE_ENV_AQUA_IPFS_EXTERNAL_API_MULTIADDR=/ip4/127.0.0.1/tcp/5001
      - FLUENCE_ENV_AQUA_IPFS_LOCAL_API_MULTIADDR=/dns4/ipfs/tcp/5001
    command:
      - --aqua-pool-size=2
      - -t=7771
      - -w=9991
      - --local
      # 12D3KooWBM3SdXWqGaawQDGQ6JprtwswEg3FWGvGhmgmMez1vRbR
      - -k=hK62afickoeP2uZbmSkAYXxxqP8ozq16VRN7qfTP719EHC5V5tjrtW57BSjUr8GvsEXmJRbtejUWyPZ2rZMyQdq

  ipfs:
    image: ipfs/kubo:latest
    ports:
      - 5001:5001
    volumes:
      - ./ipfs.sh:/container-init.d/01-ipfs.sh
