total_memory_limit = "Infinity"

[[module]]
    name = "ipfs_effector"
    mem_pages_count = 100
    logger_enabled = true

    [module.mounted_binaries]
    ipfs = "/usr/bin/ipfs"

    [module.wasi]
    preopend_files = ["tmp"]
    mapped_dirs = { "tmp" = "." }

[[module]]
    name = "ipfs_pure"
    logger_enabled = true
